.description {
    background-color: rgba(247, 247, 247, 1);
    padding: 20px;

    .alt-width {
        width: 314px;
        margin: 20px auto;
        border-radius: 5px;
    }

    .desc-container,
    .desc-container-first {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        padding: 21px;
        position: relative;
        z-index: 1;

        .desc-container__header {
            margin: 15px 0;
            font-family: $raleway;
            font-weight: 400;
            font-size: 30px;

        }

        .desc-container__description {
            font-family: $openSans;
            font-weight: 400;
            font-size: 14px;

        }
    }

    .desc-container:nth-of-Type(1) {

        &:after {
            content: '';
            width: 90px;
            height: 90px;
            background-color: rgba(251, 59, 100, 1);
            border-radius: 41px;
            position: absolute;
            top: 19px;
            right: 57px;
            transform: rotate(45deg);
            z-index: -1;
        }

        .desc-container__icon {
            width: 192px;
            margin: 17px 45px 0 35px;
        }
    }

    .desc-container:nth-of-Type(2) {

        &:after {
            content: '';
            width: 131px;
            height: 131px;
            background-color: rgba(7, 172, 230, 1);
            border-radius: 50%;
            position: absolute;
            top: 23px;
            right: 100px;
            z-index: -1;
        }

        .desc-container__icon {
            width: 175px;
            margin: 17px 30px 0 70px;
        }
    }

    .desc-divided {
        .desc-container-first {}

        .desc-container-second {
            width: 100;
            background-color: rgba(85, 223, 180, 1);
            border-radius: 5px;

            .desc-container-second__img {
                width: 100%;
                height: auto;
                position: relative;
                top: 32px;
                right: 32px;

            }
        }

    }
}