.info {

    .advert {
        margin: 80px auto 0 auto;
        max-width: 310px;
        @media screen and (min-width: 800px){
            max-width: 100%;
            margin: 110px auto 0 auto;
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .advert__header {
            font-family: $raleway;
            font-weight: 400;
            font-size: 35px;
            line-height: 41px;
            margin: 20px auto;
            @media screen and (min-width: 800px){
                font-size: 49px;
                line-height: 57px;
            }
        }

        .advert__description {
            display: block;
            font-family: $openSans;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
        }

        .advert__button {
            font-family: $openSans, sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            width: 100%;
            height: 67px;
            border-radius: 40px;
            background-color: $blueButtonColor;
            margin: 28px auto 50px auto;
            text-align: center;
            @media screen and (min-width: $breakPoint){
                width: 440px;
                margin: 38px auto 0 auto;
            }

            span {
                display: inline-block;
                margin: 22px;
            
            }

        }
    }

    .info__image {
        background-image: url("../images/Background.png");
        width: 100%;
        height: 267px;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (min-width: $breakPoint){
            height: 594px;;
        }
    }

}