.price-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow: hidden;

    .price-list__header {
        font-family: $raleway;
        font-size: 36px;
        font-weight: 400;
        width: 100%;
        margin: 50px auto 70px auto;
        text-align: center;
        z-index: -1;

        @media screen and (min-width: $breakPoint) {
            margin: 100px auto 71px auto;
        }

    }

    .package-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        .package-option {
            width: 245px;
            min-width: 245px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 18px;
            height: 326px;
            position: relative;


            .check {
                position: relative;

                &::before {
                    content: url('../images/checkmark.svg');
                    position: absolute;
                    left: -18px;
                    bottom: 0px;
                }
            }

            .uncheck {
                position: relative;

                &::before {
                    content: url('../images/close.svg');
                    position: absolute;
                    left: -18px;
                    bottom: 0px;
                }
            }

            &.basic {
                border: 1px solid rgba(251, 59, 100, 1);

                @media screen and (min-width: $breakPoint) {
                    width: 372px;
                    min-width: 372px;
                    height: 461px;
                }

                .package-option__price {
                    color: rgba(251, 59, 100, 1);
                }

                .package-option__start {
                    background-color: rgba(251, 59, 100, 1);
                }
            }

            &.professional {
                box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
                border: 1px solid rgba(7, 172, 230, 1);
                position: relative;
                transform: translateY(-20px);
                margin: 0 36px;
                height: 366px;

                @media screen and (min-width: $breakPoint) {
                    width: 405px;
                    min-width: 405px;
                    height: 500px;
                    margin: 0 60px 100px 60px;


                }

                .package-option__price::after {
                    content: 'Oferta ograniczona';
                    display: block;
                    font-family: $raleway;
                    font-weight: 700;
                    font-size: 12px;
                    position: absolute;
                    bottom: -20px;
                    width: 100%;
                    color: black;
                }

                .package-option__price {
                    color: rgba(7, 172, 230, 1);
                }

                .package-option__start {
                    background-color: rgba(7, 172, 230, 1);
                    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
                }

                .perks-list {
                    margin-top: 40px;

                    @media screen and (min-width: $breakPoint) {
                        margin-top: 61px;
                    }
                }
            }

            &.premium {
                border: 1px solid rgba(85, 223, 180, 1);

                @media screen and (min-width: $breakPoint) {
                    width: 372px;
                    min-width: 372px;
                    height: 461px;
                }

                .package-option__price::after {
                    content: 'Oferta ograniczona';
                    display: block;
                    font-family: $raleway;
                    font-weight: 700;
                    font-size: 12px;
                    position: absolute;
                    bottom: -20px;
                    width: 100%;
                    color: black;
                }

                .package-option__price {
                    color: rgba(85, 223, 180, 1);
                }

                .package-option__start {
                    background-color: rgba(85, 223, 180, 1);
                }
            }

            .package-option__header {
                font-family: $raleway;
                font-size: 21px;
                margin: 34px auto 3px auto;

            }

            .package-option__price {
                font-family: $openSans;
                font-size: 46px;
                font-weight: 300;
                text-align: center;
                position: relative;
                width: 100%;

                @media screen and (min-width: $breakPoint) {
                    margin: 14px auto;
                }

            }

            // .package-option__limited {
            //     font-family: $raleway;
            //     font-weight: 700;

            // }

            .perks-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 25px auto;
                font-family: $openSans;
                font-weight: 400;
                font-size: 14px;

                @media screen and (min-width: $breakPoint) {
                    margin-top: 50px;
                }



                .perks-list__element {
                    list-style-type: none;
                    margin: 5px auto;

                    @media screen and (min-width: $breakPoint) {
                        margin: 13px auto;
                    }
                }
            }

            .package-option__start {
                width: 165px;
                padding: 16px 48px;
                border-radius: 23px;
                font-family: $openSans;
                font-weight: 700;
                font-size: 13px;
                color: rgba(255, 255, 255, 1);
                position: absolute;
                bottom: -25px;

            }
        }
    }
}