$backgroundColor: rgba(255, 255, 255, 1);
$backgroundColorAlt : rgba(247, 247, 247, 1);
$shadowColor: rgba(0, 0, 0, 0.16);
$textColor: rgba(0, 0, 0, 1);
$blueButtonColor: rgba(8, 166, 228, 1);
$greenButtonColor: rgba(85, 223, 180, 1);

$desktopWidth: 1352px;
$breakPoint: 800px;